.product-add {
  width: 100%;
}

.product-add-header {
  height: 200px;
}

.product-add-body {
}

.product-add-field {
  padding: 5px 15px 5px 20px;
}

.product-add-label {
  padding: 5px 15px 5px 20px;
}
