.sidebar-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.2rem;
  font-size: 1.125rem;
  padding: 1rem;
  text-decoration: none;
  color: #ffffff;
}

.sidebar-link a:hover {
  background-color: #1f1f1b;
  border-left: 4px solid #6d44dc;
}

.sidebar-label {
  margin-left: 1rem;
  color: rgb(239, 247, 239);
  font-weight: 400;
}

.dropdown-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.75rem;
  font-size: 1.125rem;
  padding-left: 3rem;
  text-decoration: none;
  color: #ffffff;
}

.dropdown-link a:hover {
  background-color: #6d44dc;
}

.sidebar-sub-label {
  margin-left: 1rem;
  color: rgb(239, 247, 239);
  font-weight: 100;
  font-style: italic;
}

.overview {
  display: flex;
  align-items: center;
}
